{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
    </form>
    <br>
    <a href="{% url 'user:dashboard' %}">Back to dashboard</a>
    <br>
    <a href="{% url 'user:password_reset' %}">Reset password</a>
    <br>
    <a href="{% url 'user:register' %}">Register</a>


{% endblock %}