{% extends 'base.html' %}

{% block content %}
    <h2>Send password reset link</h2>

    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset">
    </form>
    <br>
    <a href="{% url 'user:dashboard' %}">Back to dashboard</a>


{% endblock %}