<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Title
        {% endblock title %}
    </title>

</head>
<body>
        {% block heading %}
            <h1>Movie Palace</h1>
            <hr>
        {% endblock heading %}

        {% block content %}
        {% endblock content %}
</body>
</html>