{% extends "movie/base.html" %}

{% block heading %}
    {{ block.super }}
    <br>
    <h2>The stuff that dreams are made off</h2>
{% endblock heading %}

{% block content %}
    <p>
    {% include "movie/simple.txt" %}
    </p>
{% endblock content %}