
{% extends "movie/base.html" %}

{% block content %}
<h2>Movies:</h2>
    <ul>
    {% for movie in movies %}
        <li>
        #{{ forloop.counter }} {{ movie.0|upper }} was realised in {{ movie.1|center:"20"}}
        </li>
    {% endfor %}
    </ul>

  <h2> Goodies </h2>
  <ul>
    {% for goodie in confectionaries %}
      <li> {{goodie.0}} &mdash; ${{goodie.1}}</li>
    {% empty %}
      <li> <i>There are no goodies available</i> </li>
    {% endfor %}
  </ul>

    {% for movie in movies %}
    <tr class="{% cycle 'row1' 'row2' %}">
    ...
    </tr>
{% endfor %}
    <p>Copyright 2022-{% now "Y" %}</p>
{% endblock content %}