<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            UserManage
        {% endblock title %}
    </title>
</head>
<body>
        {% block head %}
        {% endblock head %}

        {% block content %}
        {% endblock content %}

</body>
</html>