<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Polls
        {% endblock title %}
    </title>
</head>
<body>
        {% block head %}
            <a href="{% url 'polls:index' %}">Main page</a>
            <a href="{% url 'polls:customer' %}">Input name</a>
        {% endblock head %}

        {% block content %}
        {% endblock content %}

</body>
</html>