{% extends 'polls/base.html' %}

{% block content %}
    <br>
<form action="" method="post" novalidate>
{% csrf_token %}
    {{ form.as_p }}
    <br>
<input type="submit" value="Submit">
</form>
{% endblock content %}
