{% extends "polls/base.html" %}

{% block content %}



<form action="{% url 'polls_gen:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h2>{{ question.question_text }}</h2></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <label>
             <input type="radio" name="choice" value="{{ choice.id }}">
            {{ choice.choice_text }}
        </label>
       <br>
    {% endfor %}
</fieldset>
<br>
<input type="submit" value="Vote">
</form>

{% endblock content %}