{% extends "polls/base.html" %}

{% block content %}
    <h2>{{ question.question_text }}</h2>
    <hr>

    <ul>
        {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
        {% endfor %}
    </ul>

{% endblock content %}