{% extends "base.html" %}

{% block content %}
    Hello, {{ user.username|default:"Guest" }}!
    <hr>

   <div>
   {% if user.is_authenticated %}
       <a href="{% url 'user:logout' %}">Logout</a>
       <br>
       <a href="{% url 'user:password_change' %}">Change password</a>
   {% else %}
        <a href="{% url 'user:login' %}">Login</a>
   {% endif %}
   </div>

{% endblock content %}
