{% extends 'base.html' %}


{% block content %}
<h2>Register</h2>
    <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Register">
    </form>

    <a href="{% url 'user:login' %}">Back to login</a>
{% endblock %}